OPEN_AI_URL=https://api.openai.com/v1/chat/completions
OPEN_AI_API_KEY=TODO
OPEN_AI_MAX_TOKENS=100
OPEN_AI_TEMPERATURE=0.1
OPEN_AI_PROMPT="Follow these rules for translating text:
1. do not add single quotes around text that did not have single quotes in English
2. you should also translate text inside parenthesis
3. input is English text and you will return the Dutch translation
4. text surrounded by single quotes must not be translated. For example, `'a dog' a dog` must be translated as `'a dog' een hond`
5. upper and lower cases should be preserved. For example, `a DOG` should be translated as `een HOND`
"

DEEPL_URL=https://api-free.deepl.com/v2/translate
DEEPL_API_KEY=TODO